<h1 id="tableLabel">Productos</h1>

<p>Sección para gestionar los productos</p>

<p *ngIf="!productos"><em>Cargando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="productos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ "$"+producto.precio }}</td>
    </tr>
  </tbody>
</table>