<h1 id="tableLabel">Clientes</h1>

<p>Sección para gestionar los clientes</p>

<p *ngIf="!clientes"><em>Cargando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.documento }}</td>
      <td>{{ cliente.telefono }}</td>
    </tr>
  </tbody>
</table>
