<h1 id="tableLabel">Facturación</h1>


<!-- <p *ngIf="!clientes"><em>Cargando...</em></p> -->

<div class="container">
    <div class="col">
        <div class="row">

            <app-formulario></app-formulario>
        </div>
    </div>
</div>
