<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <form #formulario="ngForm">
    
          <div class="form-group">
            <label for="cliente">Cliente</label>
            <select *ngIf="items.length==0" class="form-control" id="cliente" [(ngModel)]="detalle.cliente" name="cliente" (change)="onChange($event.target.value)">
              <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nombre+ ' ' + cliente.apellido}}
              </option>
            </select>
            <p *ngIf="items.length>0" class="text-info">{{this.nombrecliente}}</p>

          </div>
    
          <div class="form-group">
            <label for="producto">Producto</label>
            <select class="form-control" id="producto" [(ngModel)]="detalle.producto" name="producto">
              <option *ngFor="let producto of productos;let i = index" [value]="i" >{{producto.descripcion+' '+producto.nombre}}</option>
            </select>
          </div>
    
    
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="text" class="form-control" id="cantidad" [(ngModel)]="detalle.cantidad" name="cantidad">
          </div>
    
          <button class="btn btn-success" (click)="addItem()">Agregar</button>
    
        </form>
      </div>
    </div>
    <!-- <div class="col-sm">
      
    </div> -->
    <div class="col-sm col-md">
      <div>
        <table class='table table-striped' aria-labelledby="tableLabel">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Detalle</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>SubTotal</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i= index">
              <td>{{ item.producto }}</td>
              <td>{{ item.detalle }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{'$'+item.precio }}</td>
              <td>{{'$'+item.subtotal}}</td>
              <td><span (click)="removeitem(i)"><button>X</button></span></td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="this.items.length>0">Total:${{this.total}}</h4>

        <button *ngIf="this.items.length>0" class="btn btn-success" (click)="sendFact()">Facturar</button>

        <div>
          <h2 class="text-success" *ngIf="this.respuesta && enviado">Enviado Correctamente</h2>
        </div>
      </div>
    </div>

  </div>
</div>